*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
body{
    background: rgb(194, 246, 247);
}
.container{

    background: rgb(26, 141, 112);
    
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px  120px 380px;
    gap: 10px 2em;
    
}
.logo{
    background: #000;
    grid-column: 4 / 10;
    grid-row:    1 / 2;
}
.title{
    background: rgb(187, 54, 54);
    grid-column: 3/11;
}
.form{
    background: rgb(33, 190, 67);
    grid-column: 2/12;
    grid-row: 3;
}